# Keep files
!/.gitignore            
!/README.md             
!constants.py
!utility.py
!menu.py
!scraping.py
!processing.py
!models.py
!displaying.py

# Keep the directories
!input/
!prediction_input/
!input_images/
!model_checkpoints/
!training_logs/

# Add .gitkeep file to ensure directories are tracked
!input/.gitkeep
!prediction_input/.gitkeep
!input_images/.gitkeep
!model_checkpoints/.gitkeep
!training_logs/.gitkeep

# Ignore files


# Ignore directories
.venv/

# Ignore contents of directories
input/*
prediction_input/*
input_images/*
model_checkpoints/*
training_logs/*