# Ignore contents of the database folders
database/*              
test_database/*     



# Keep specific files
!/.gitignore            
!/README.md             
!*.py                   

# Keep the database and test_database directories
!/database/             
!/test_database/        

# Keep the .gitkeep file to ensure the folder is tracked
!/database/.gitkeep     
!/test_database/.gitkeep 